@import url(reset.css);


h1 {
	color: red;
}

h2 , h3{
	color: #000ff0;
}

div {
	color: black;
}

.first-text {
	color: aqua;
}
a {
	color: red;
}

.list2{
	color: blueviolet;
}

a.link {
	color: blueviolet;
}
.list.text {
	color: red;
}

.list3,
.list4 { 
	color: fuchsia;
}
.last-div li{
	color: forestgreen;
}
.last-div .last-element{
	color: #000ff0;
}
.class-link *{
	color: aqua;
}

.interesting-facts > p {
	color: yellow;
}
.l5-3 ~ p{
	color: yellowgreen;
}